body {
  margin: 0;
  padding: 0;
  background-color: red;
}




/* .top{
  width: 100%;
  height: 100%;
  background-color: pink;
}

.outer{
  margin: 0;
  background-color: yellow;
}

.slick-div{
  width: 100%;
  height: 100vh;
}
.slick-slider{
  width: 500px;
  height: 500px;
}
.slick-list{
  width: 100vw;
  height: 100vh;
} */